h1[b-rbolat9v00] {
    color: tomato;
    border-bottom: 2px solid tomato;
    text-shadow: 0 0 5px tomato, /* Sombra cercana */
    0 0 10px tomato, /* Sombra intermedia */
    0 0 20px tomato, /* Sombra m�s amplia */
    0 0 40px red, /* Brillo rojizo */
    0 0 60px red, /* Brillo m�s intenso */
    0 0 80px crimson; /* Sombra externa grande */
    font-weight: bold;
    /* Agregar el borde fino al texto */
    -webkit-text-stroke: 1px white; /* Soporte en navegadores Webkit */
    text-stroke: 1px white; /* Soporte en navegadores modernos */
}

p.cargando[b-rbolat9v00] {
    color: white;
    font-size: 35px;

}

.contenedor-tabla[b-rbolat9v00] {
    display: flex;
    background-color: bisque;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px;
}


.contenedor-form[b-rbolat9v00] {
    background-color: bisque;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px;
    margin-top: 10px;
    padding: 7px;
    color: black;
}

.pedido-list[b-rbolat9v00] {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.pedido-card[b-rbolat9v00] {
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.detalles-section[b-rbolat9v00] {
    margin-top: 1rem;
    background-color: #f1f1f1;
    padding: 0.5rem;
    border-radius: 4px;
}

button[b-rbolat9v00] {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
}

    button:hover[b-rbolat9v00] {
        background-color: #0056b3;
    }

/* Aplica color rojo al estado del pedido */
.estado-rojo[b-rbolat9v00] {
    color: red;
    font-weight: bold;
}

button.editar[b-rbolat9v00]{
    background-color: transparent;
}

button.eliminar[b-rbolat9v00] {
    background-color: transparent;
    margin-top:5px;;
}

button.detalle[b-rbolat9v00] {
    background-color: transparent;
    color: darkgreen;
    height: 28px;
    margin-top: 8px;
}

button.detalle i[b-rbolat9v00] {
    font-size: 1.5rem; /* Ajusta el tama�o del �cono si es necesario */
    color: forestgreen; /* Cambia el color del �cono */
    transition: color 0.3s; /* Agrega una transici�n suave al cambiar de color */
}
