@page "/editarimpresion"


@inject IGenericService<Impresion> impresionService
@inject NavigationManager NavigationManager
@inject ILogger<EditarImpresion> Logger;




<h1> Editar Impresión</h1>



@if (impresion == null)
{
    //@attribute [StreamRendering]
    <p><em>Cargando...</em></p>
}
else
{
    <h3>Editando Impresión @impresion.tamanio</h3>

    <div class="contenedor-form">
    <EditForm Model="impresion" OnValidSubmit="GuardarImpresion">
        <DataAnnotationsValidator />
        <label class="form-control mb-3" for="txtImpresion">Impresion:</label>
        <InputText class="form-control mb-3" type="text" @bind-Value="impresion.tamanio" />
        <InputText class="form-control mb-3" type="text" @bind-Value="impresion.precioF" />
      
        <ValidationSummary />
        <button class="btn btn-primary" type="submit">Guardar</button>
        <button class="btn btn-secondary m-3" type="button" @onclick="Volver">Cancelar</button>
    </EditForm>

    </div>
}



@code {
    [SupplyParameterFromQuery]
    [Parameter]
    public string? idImpresion { get; set; }

    public Impresion? impresion { get; set; }


    protected override async Task OnInitializedAsync()
    {
        if (string.IsNullOrEmpty(idImpresion))
        {
            // Loguear el problema si `idImpresion` es nulo
            Logger.LogError("idImpresion es nulo o vacío.");
            return;
        }

        // Intentar obtener la impresión por ID
        impresion = await impresionService.GetByIdAsync(int.Parse(idImpresion));

        if (impresion == null)
        {
            // Loguear si la impresión no fue encontrada
            Logger.LogError($"No se encontró ninguna impresión con ID: {idImpresion}");
        }
    }



    // guarda información del formulario editar
    private async Task GuardarImpresion()
    {
       if (impresion == null)
    {
        Logger.LogError("La impresión es nula, no se puede actualizar.");
        return;
    }

    Logger.LogInformation($"Guardando impresión con ID: {impresion.id} y tamaño: {impresion.tamanio}y precio : {impresion.precioF}");
    
    try
    {
        await impresionService.UpdateAsync(impresion);
        NavigationManager.NavigateTo("/impresiones");
    }
    catch (Exception ex)
    {
        Logger.LogError($"Error al guardar la impresión: {ex.Message}");
    }


    }

    private void Volver()
    {
        NavigationManager.NavigateTo("/impresiones"); // Reemplaza "/pagina-anterior" con la ruta de la página anterior
    }
}
