@page "/acercade"

<div class="container ">
    <!-- Sección de Acerca de la Empresa -->
    <h1 class="text-center ">Acerca de la Empresa</h1>
    <p class="lead text-center">
        Somos una empresa dedicada a la venta de productos de tecnología y servicios de impresiones fotográficas, brindando productos y servicios de alta calidad a nuestros clientes.
    </p>
    <h3>Nuestra Misión</h3>
    <p>
        Proveer soluciones innovadoras que mejoren la experiencia de nuestros clientes, garantizando la mejor calidad en cada uno de nuestros productos y servicios.
    </p>

    <h3>Nuestros Valores</h3>
    <ul>
        <li>Calidad</li>
        <li>Innovación</li>
        <li>Compromiso</li>
        <li>Atención al cliente</li>
    </ul>
</div>

<!-- Footer -->
<footer class="footer  py-4 bg-dark text-white">
    <div class="container text-center">
        <p class="mb-3">Síguenos en nuestras redes sociales:</p>
        <div>
            <a href="https://www.facebook.com/rapid.foto/" target="_blank" class="mx-2 text-white">
                <i class="bi bi-facebook"></i>
            </a>
            <a href="https://wa.me/543498431264?text=Hola,%20necesito%20información" target="_blank" class="mx-2 text-white">
                <i class="bi bi-whatsapp"></i>
            </a>
            <a href="https://www.instagram.com/rapidfotosj/" target="_blank" class="mx-2 text-white">
                <i class="bi bi-instagram"></i>
            </a>
            <a href="https://www.linkedin.com/in/ezequiel-porchietto/" target="_blank" class="mx-2 text-white">
                <i class="bi bi-linkedin"></i>
            </a>
        </div>
        <div class="mt-3">
            <p>Dirección: Calle Única 256, San Justo</p>
            <p>Teléfono: (54) 9 456-7890</p>
            <p>Correo: contacto@gestióndenegocio.com</p>
        </div>
        <p class="mt-4">© 2024 Gestión de Negocio - Todos los derechos reservados</p>
    </div>
</footer>
