/* /Layout/MainLayout.razor.rz.scp.css */
.page[b-136tc4i9hy] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-136tc4i9hy] {
    flex: 1;
}

.sidebar[b-136tc4i9hy] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-136tc4i9hy] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-136tc4i9hy]  a, .top-row[b-136tc4i9hy]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-136tc4i9hy]  a:hover, .top-row[b-136tc4i9hy]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-136tc4i9hy]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row[b-136tc4i9hy] {
        justify-content: space-between;
    }

    .top-row[b-136tc4i9hy]  a, .top-row[b-136tc4i9hy]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-136tc4i9hy] {
        flex-direction: row;
    }

    .sidebar[b-136tc4i9hy] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-136tc4i9hy] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-136tc4i9hy]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-136tc4i9hy], article[b-136tc4i9hy] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Layout/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-zp64rcn9qx] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-zp64rcn9qx] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-zp64rcn9qx] {
    font-size: 1.1rem;
}

.bi[b-zp64rcn9qx] {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}




.bi-house-door-fill-nav-menu[b-zp64rcn9qx] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-house-door-fill' viewBox='0 0 16 16'%3E%3Cpath d='M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z'/%3E%3C/svg%3E");
}

.bi-plus-square-fill-nav-menu[b-zp64rcn9qx] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-plus-square-fill' viewBox='0 0 16 16'%3E%3Cpath d='M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z'/%3E%3C/svg%3E");
}

.bi-list-nested-nav-menu[b-zp64rcn9qx] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-list-nested' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M4.5 11.5A.5.5 0 0 1 5 11h10a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 1 3h10a.5.5 0 0 1 0 1H1a.5.5 0 0 1-.5-.5z'/%3E%3C/svg%3E");
}



.bi-person-square[b-zp64rcn9qx],
.bi-basket[b-zp64rcn9qx],
.bi-cart-plus[b-zp64rcn9qx],
.bi-printer[b-zp64rcn9qx],
.bi-cash-coin[b-zp64rcn9qx],
.bi-person-workspace[b-zp64rcn9qx],
.bi-cart-plus[b-zp64rcn9qx],
.bi-cart3[b-zp64rcn9qx],
.bi-cart4[b-zp64rcn9qx],
.bi-cart-fill[b-zp64rcn9qx],
.bi-house-door[b-zp64rcn9qx] {
    margin-bottom: -5px;
    width: 9px;
    height: 9px;
}

.nav-link[b-zp64rcn9qx] {
    margin-top: 10px;
    text-decoration: none;
    color: var(--anti-flash-white);
    font-size: 14px;
    font-weight: 500;
    transition: background-color 0.3s, color 0.3s;
    padding: 6px 10px;
    border-radius: 6px;
}

    .nav-link:hover[b-zp64rcn9qx] {
        background-color: var(--fondoTabla);
        color: var(--erie-black);
    }

.nav-item[b-zp64rcn9qx] {
    font-size: 0.9rem;
    padding-bottom: 1.5rem;
}

.navlink[b-zp64rcn9qx] {
    display: block;
    color: inherit;
    text-decoration: none;
}

.nav-scrollable[b-zp64rcn9qx] {
    height: calc(100% - 3.5rem);
    overflow-y: auto;
}

    .nav-item:first-of-type[b-zp64rcn9qx] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-zp64rcn9qx] {
        padding-bottom: 1rem;
    }

    .nav-item[b-zp64rcn9qx]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-zp64rcn9qx]  a.active {
    background-color: rgba(255,255,255,0.37);
    color: white;
}

.nav-item[b-zp64rcn9qx]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-zp64rcn9qx] {
        display: none;
    }

    .collapse[b-zp64rcn9qx] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable[b-zp64rcn9qx] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
/* /Pages/Commons/Clientes/Clientes.razor.rz.scp.css */
h1[b-ikcb6ciiaj] {
    color: tomato;
    border-bottom: 2px solid tomato;
    text-shadow: 0 0 5px tomato, /* Sombra cercana */
    0 0 10px tomato, /* Sombra intermedia */
    0 0 20px tomato, /* Sombra m�s amplia */
    0 0 40px red, /* Brillo rojizo */
    0 0 60px red, /* Brillo m�s intenso */
    0 0 80px crimson; /* Sombra externa grande */
    font-weight: bold;
    /* Agregar el borde fino al texto */
    -webkit-text-stroke: 1px white; /* Soporte en navegadores Webkit */
    text-stroke: 1px white; /* Soporte en navegadores modernos */
}

p[b-ikcb6ciiaj] {
    color: white;
    font-size: xx-large;
}

.contenedor-tabla[b-ikcb6ciiaj] {
    display: flex;
    background-color: bisque;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px;
    margin-top: 15px;
}


.contenedor-form[b-ikcb6ciiaj] {
    background-color: bisque;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px;
    margin-top: 10px;
    padding: 7px;
    color: black;
    margin-top:15px;
}
/* /Pages/Commons/Clientes/EditarCliente.razor.rz.scp.css */
h1[b-uirv2wi5f0] {
    color: tomato;
    border-bottom: 2px solid tomato;
    text-shadow: 0 0 5px tomato, /* Sombra cercana */
    0 0 10px tomato, /* Sombra intermedia */
    0 0 20px tomato, /* Sombra m�s amplia */
    0 0 40px red, /* Brillo rojizo */
    0 0 60px red, /* Brillo m�s intenso */
    0 0 80px crimson; /* Sombra externa grande */
    font-weight: bold;
    /* Agregar el borde fino al texto */
    -webkit-text-stroke: 1px white; /* Soporte en navegadores Webkit */
    text-stroke: 1px white; /* Soporte en navegadores modernos */
}

p[b-uirv2wi5f0] {
    color: white;
    font-size: xx-large;
}

.contenedor-tabla[b-uirv2wi5f0] {
    display: flex;
    background-color: bisque;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px;
}


.contenedor-form[b-uirv2wi5f0] {
    background-color: bisque;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px;
    margin-top: 10px;
    padding: 7px;
    color: black;
}
/* /Pages/Commons/Clientes/NuevoCliente.razor.rz.scp.css */
h1[b-g2uz6dk811] {
    color: tomato;
    border-bottom: 2px solid tomato;
    text-shadow: 0 0 5px tomato, /* Sombra cercana */
    0 0 10px tomato, /* Sombra intermedia */
    0 0 20px tomato, /* Sombra m�s amplia */
    0 0 40px red, /* Brillo rojizo */
    0 0 60px red, /* Brillo m�s intenso */
    0 0 80px crimson; /* Sombra externa grande */
    font-weight: bold;
    /* Agregar el borde fino al texto */
    -webkit-text-stroke: 1px white; /* Soporte en navegadores Webkit */
    text-stroke: 1px white; /* Soporte en navegadores modernos */
}

p[b-g2uz6dk811]{
    color: white;
    font-size: xx-large;
}

.contenedor-tabla[b-g2uz6dk811] {
    display: flex;
    background-color: bisque;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px;
}


.contenedor-form[b-g2uz6dk811] {
    background-color: bisque;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px;
    margin-top: 10px;
    padding: 7px;
    color: black;
}
/* /Pages/Commons/Empleados/EditarEmpleado.razor.rz.scp.css */
h1[b-m9yi7u75ti] {
    color: tomato;
    border-bottom: 2px solid tomato;
    text-shadow: 0 0 5px tomato, /* Sombra cercana */
    0 0 10px tomato, /* Sombra intermedia */
    0 0 20px tomato, /* Sombra m�s amplia */
    0 0 40px red, /* Brillo rojizo */
    0 0 60px red, /* Brillo m�s intenso */
    0 0 80px crimson; /* Sombra externa grande */
    font-weight: bold;
    /* Agregar el borde fino al texto */
    -webkit-text-stroke: 1px white; /* Soporte en navegadores Webkit */
    text-stroke: 1px white; /* Soporte en navegadores modernos */
}

p[b-m9yi7u75ti] {
    color: white;
    font-size: xx-large;
}

.contenedor-tabla[b-m9yi7u75ti] {
    display: flex;
    background-color: bisque;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px;
}


.contenedor-form[b-m9yi7u75ti] {
    background-color: bisque;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px;
    margin-top: 10px;
    padding: 7px;
    color: black;
}
/* /Pages/Commons/Empleados/Empleados.razor.rz.scp.css */
h1[b-3fxjacnfnl] {
    color: tomato;
    border-bottom: 2px solid tomato;
    text-shadow: 0 0 5px tomato, /* Sombra cercana */
    0 0 10px tomato, /* Sombra intermedia */
    0 0 20px tomato, /* Sombra m�s amplia */
    0 0 40px red, /* Brillo rojizo */
    0 0 60px red, /* Brillo m�s intenso */
    0 0 80px crimson; /* Sombra externa grande */
    font-weight: bold;
    /* Agregar el borde fino al texto */
    -webkit-text-stroke: 1px white; /* Soporte en navegadores Webkit */
    text-stroke: 1px white; /* Soporte en navegadores modernos */
}

p[b-3fxjacnfnl] {
    color: white;
    font-size: xx-large;
}

.contenedor-tabla[b-3fxjacnfnl] {
    display: flex;
    background-color: bisque;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px;
    margin-top: 15px;
}


.contenedor-form[b-3fxjacnfnl] {
    background-color: bisque;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px;
    margin-top: 10px;
    padding: 7px;
    color: black;
}
/* /Pages/Commons/Empleados/NuevoEmpleado.razor.rz.scp.css */
h1[b-jfpi0q4cct] {
    color: tomato;
    border-bottom: 2px solid tomato;
    text-shadow: 0 0 5px tomato, /* Sombra cercana */
    0 0 10px tomato, /* Sombra intermedia */
    0 0 20px tomato, /* Sombra m�s amplia */
    0 0 40px red, /* Brillo rojizo */
    0 0 60px red, /* Brillo m�s intenso */
    0 0 80px crimson; /* Sombra externa grande */
    font-weight: bold;
    /* Agregar el borde fino al texto */
    -webkit-text-stroke: 1px white; /* Soporte en navegadores Webkit */
    text-stroke: 1px white; /* Soporte en navegadores modernos */
}

p[b-jfpi0q4cct] {
    color: white;
    font-size: xx-large;
}

.contenedor-tabla[b-jfpi0q4cct] {
    display: flex;
    background-color: bisque;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px;
}


.contenedor-form[b-jfpi0q4cct] {
    background-color: bisque;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px;
    margin-top: 10px;
    padding: 7px;
    color: black;
}
/* /Pages/Commons/Impresiones/EditarImpresion.razor.rz.scp.css */
h1[b-gucph5vx56] {
    color: tomato;
    border-bottom: 2px solid tomato;
    text-shadow: 0 0 5px tomato, /* Sombra cercana */
    0 0 10px tomato, /* Sombra intermedia */
    0 0 20px tomato, /* Sombra m�s amplia */
    0 0 40px red, /* Brillo rojizo */
    0 0 60px red, /* Brillo m�s intenso */
    0 0 80px crimson; /* Sombra externa grande */
    font-weight: bold;
    /* Agregar el borde fino al texto */
    -webkit-text-stroke: 1px white; /* Soporte en navegadores Webkit */
    text-stroke: 1px white; /* Soporte en navegadores modernos */
}

p[b-gucph5vx56] {
    color: white;
    font-size: xx-large;
}

.contenedor-tabla[b-gucph5vx56] {
    display: flex;
    background-color: bisque;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px;
    margin-top: 15px;
}


.contenedor-form[b-gucph5vx56] {
    background-color: bisque;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px;
    margin-top: 10px;
    padding: 7px;
    color: black;
    margin-top: 15px;
}
/* /Pages/Commons/Impresiones/Impresiones.razor.rz.scp.css */
h1[b-9pba9b8w84] {
    color: tomato;
    border-bottom: 2px solid tomato;
    text-shadow: 0 0 5px tomato, /* Sombra cercana */
    0 0 10px tomato, /* Sombra intermedia */
    0 0 20px tomato, /* Sombra m�s amplia */
    0 0 40px red, /* Brillo rojizo */
    0 0 60px red, /* Brillo m�s intenso */
    0 0 80px crimson; /* Sombra externa grande */
    font-weight: bold;
    /* Agregar el borde fino al texto */
    -webkit-text-stroke: 1px white; /* Soporte en navegadores Webkit */
    text-stroke: 1px white; /* Soporte en navegadores modernos */
}

p[b-9pba9b8w84] {
    color: white;
    font-size: xx-large;
}

.contenedor-tabla[b-9pba9b8w84] {
    display: flex;
    background-color: bisque;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px;
    margin-top: 15px;
}


.contenedor-form[b-9pba9b8w84] {
    background-color: bisque;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px;
    margin-top: 10px;
    padding: 7px;
    color: black;
}
/* /Pages/Commons/Impresiones/NuevaImpresion.razor.rz.scp.css */
h1[b-5vyov1zohq] {
    color: tomato;
    border-bottom: 2px solid tomato;
    text-shadow: 0 0 5px tomato, /* Sombra cercana */
    0 0 10px tomato, /* Sombra intermedia */
    0 0 20px tomato, /* Sombra m�s amplia */
    0 0 40px red, /* Brillo rojizo */
    0 0 60px red, /* Brillo m�s intenso */
    0 0 80px crimson; /* Sombra externa grande */
    font-weight: bold;
    /* Agregar el borde fino al texto */
    -webkit-text-stroke: 1px white; /* Soporte en navegadores Webkit */
    text-stroke: 1px white; /* Soporte en navegadores modernos */
}

p[b-5vyov1zohq] {
    color: white;
    font-size: xx-large;
}

.contenedor-tabla[b-5vyov1zohq] {
    display: flex;
    background-color: bisque;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px;
}


.contenedor-form[b-5vyov1zohq] {
    background-color: bisque;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px;
    margin-top: 10px;
    padding: 7px;
    color: black;
}
/* /Pages/Commons/ModosPagos/EditarModoPago.razor.rz.scp.css */
h1[b-8kyyvh0a6c] {
    color: tomato;
    border-bottom: 2px solid tomato;
    text-shadow: 0 0 5px tomato, /* Sombra cercana */
    0 0 10px tomato, /* Sombra intermedia */
    0 0 20px tomato, /* Sombra m�s amplia */
    0 0 40px red, /* Brillo rojizo */
    0 0 60px red, /* Brillo m�s intenso */
    0 0 80px crimson; /* Sombra externa grande */
    font-weight: bold;
    /* Agregar el borde fino al texto */
    -webkit-text-stroke: 1px white; /* Soporte en navegadores Webkit */
    text-stroke: 1px white; /* Soporte en navegadores modernos */
}

p[b-8kyyvh0a6c] {
    color: white;
    font-size: xx-large;
}

.contenedor-tabla[b-8kyyvh0a6c] {
    display: flex;
    background-color: bisque;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px;
}


.contenedor-form[b-8kyyvh0a6c] {
    background-color: bisque;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px;
    margin-top: 10px;
    padding: 7px;
    color: black;
}
/* /Pages/Commons/ModosPagos/ModosPagos.razor.rz.scp.css */
h1[b-kfvi4lgrm1] {
    color: tomato;
    border-bottom: 2px solid tomato;
    text-shadow: 0 0 5px tomato, /* Sombra cercana */
    0 0 10px tomato, /* Sombra intermedia */
    0 0 20px tomato, /* Sombra m�s amplia */
    0 0 40px red, /* Brillo rojizo */
    0 0 60px red, /* Brillo m�s intenso */
    0 0 80px crimson; /* Sombra externa grande */
    font-weight: bold;
    /* Agregar el borde fino al texto */
    -webkit-text-stroke: 1px white; /* Soporte en navegadores Webkit */
    text-stroke: 1px white; /* Soporte en navegadores modernos */
}

p[b-kfvi4lgrm1] {
    color: white;
    font-size: xx-large;
}

.contenedor-tabla[b-kfvi4lgrm1] {
    display: flex;
    background-color: bisque;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px;
    margin-top: 15px;
}


.contenedor-form[b-kfvi4lgrm1] {
    background-color: bisque;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px;
    margin-top: 10px;
    padding: 7px;
    color: black;
}
/* /Pages/Commons/ModosPagos/NuevoModoPago.razor.rz.scp.css */
h1[b-b1endoydpm] {
    color: tomato;
    border-bottom: 2px solid tomato;
    text-shadow: 0 0 5px tomato, /* Sombra cercana */
    0 0 10px tomato, /* Sombra intermedia */
    0 0 20px tomato, /* Sombra m�s amplia */
    0 0 40px red, /* Brillo rojizo */
    0 0 60px red, /* Brillo m�s intenso */
    0 0 80px crimson; /* Sombra externa grande */
    font-weight: bold;
    /* Agregar el borde fino al texto */
    -webkit-text-stroke: 1px white; /* Soporte en navegadores Webkit */
    text-stroke: 1px white; /* Soporte en navegadores modernos */
}

p[b-b1endoydpm] {
    color: white;
    font-size: xx-large;
}

.contenedor-tabla[b-b1endoydpm] {
    display: flex;
    background-color: bisque;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px;
}


.contenedor-form[b-b1endoydpm] {
    background-color: bisque;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px;
    margin-top: 10px;
    padding: 7px;
    color: black;
}
/* /Pages/Commons/Productos/EditarProducto.razor.rz.scp.css */
h1[b-e6cirvd6m8] {
    color: tomato;
    border-bottom: 2px solid tomato;
    text-shadow: 0 0 5px tomato, /* Sombra cercana */
    0 0 10px tomato, /* Sombra intermedia */
    0 0 20px tomato, /* Sombra m�s amplia */
    0 0 40px red, /* Brillo rojizo */
    0 0 60px red, /* Brillo m�s intenso */
    0 0 80px crimson; /* Sombra externa grande */
    font-weight: bold;
    /* Agregar el borde fino al texto */
    -webkit-text-stroke: 1px white; /* Soporte en navegadores Webkit */
    text-stroke: 1px white; /* Soporte en navegadores modernos */
}

p[b-e6cirvd6m8] {
    color: white;
    font-size: xx-large;
}

.contenedor-tabla[b-e6cirvd6m8] {
    display: flex;
    background-color: bisque;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px;
}


.contenedor-form[b-e6cirvd6m8] {
    background-color: bisque;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px;
    margin-top: 10px;
    padding: 7px;
    color: black;
}
/* /Pages/Commons/Productos/NuevoProducto.razor.rz.scp.css */
h1[b-t0nkh2zqo9] {
    color: tomato;
    border-bottom: 2px solid tomato;
    text-shadow: 0 0 5px tomato, /* Sombra cercana */
    0 0 10px tomato, /* Sombra intermedia */
    0 0 20px tomato, /* Sombra m�s amplia */
    0 0 40px red, /* Brillo rojizo */
    0 0 60px red, /* Brillo m�s intenso */
    0 0 80px crimson; /* Sombra externa grande */
    font-weight: bold;
    /* Agregar el borde fino al texto */
    -webkit-text-stroke: 1px white; /* Soporte en navegadores Webkit */
    text-stroke: 1px white; /* Soporte en navegadores modernos */
}

p[b-t0nkh2zqo9] {
    color: white;
    font-size: xx-large;
}

.contenedor-tabla[b-t0nkh2zqo9] {
    display: flex;
    background-color: bisque;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px;
}


.contenedor-form[b-t0nkh2zqo9] {
    background-color: bisque;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px;
    margin-top: 10px;
    padding: 7px;
    color: black;
}
/* /Pages/Commons/Productos/Productos.razor.rz.scp.css */
h1[b-ii3y782yvk] {
    color: tomato;
    border-bottom: 2px solid tomato;
    text-shadow: 0 0 5px tomato, /* Sombra cercana */
    0 0 10px tomato, /* Sombra intermedia */
    0 0 20px tomato, /* Sombra m�s amplia */
    0 0 40px red, /* Brillo rojizo */
    0 0 60px red, /* Brillo m�s intenso */
    0 0 80px crimson; /* Sombra externa grande */
    font-weight: bold;
    /* Agregar el borde fino al texto */
    -webkit-text-stroke: 1px white; /* Soporte en navegadores Webkit */
    text-stroke: 1px white; /* Soporte en navegadores modernos */
}

p[b-ii3y782yvk] {
    color: white;
    font-size: xx-large;
}

.contenedor-tabla[b-ii3y782yvk] {
    display: flex;
    background-color: bisque;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px;
    margin-top:15px;
}


.contenedor-form[b-ii3y782yvk] {
    background-color: bisque;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px;
    margin-top: 30px;
    padding: 7px;
    color: black;
}
/* /Pages/Details/CrearPedidos/CrearPedidos.razor.rz.scp.css */

.contenedor-botones[b-le78m9prkx]{
    display:flex; 
    justify-content:space-around;
}

.btn-ver[b-le78m9prkx]{
    background-color: yellowgreen;
    margin-top:15px;
    font-weight:bold;


}

.btn-ver:hover[b-le78m9prkx]{
    background-color:darkgreen;
    color:white;
}

.btn-guardar[b-le78m9prkx] {
    background-color:springgreen;
    margin: 10px;
    font-weight: bold;
}

.btn-guardar:hover[b-le78m9prkx] {
    background-color: darkolivegreen;
    color: white;
}

.btn-nuevo[b-le78m9prkx] {
    background-color: lime;
    margin-top: 15px;
    font-weight: bold;
}

    .btn-nuevo:hover[b-le78m9prkx] {
        background-color: forestgreen;
        color: white;
    }

h1[b-le78m9prkx] {
    color: tomato;
    border-bottom: 2px solid tomato;
    text-shadow: 0 0 5px tomato, /* Sombra cercana */
    0 0 10px tomato, /* Sombra intermedia */
    0 0 20px tomato, /* Sombra m�s amplia */
    0 0 40px red, /* Brillo rojizo */
    0 0 60px red, /* Brillo m�s intenso */
    0 0 80px crimson; /* Sombra externa grande */
    font-weight: bold;
    /* Agregar el borde fino al texto */
    -webkit-text-stroke: 1px white; /* Soporte en navegadores Webkit */
    text-stroke: 1px white; /* Soporte en navegadores modernos */
}

p[b-le78m9prkx] {
    color: white;
    font-size: xx-large;
}

.contenedor-tabla[b-le78m9prkx] {
    display: flex;
    background-color: bisque;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px;
}


.contenedor-form[b-le78m9prkx] {
    background-color: bisque;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px;
    margin-top: 10px;
    padding: 7px;
    color: black;
}
/* /Pages/Details/CrearPedidos/EditarPedido.razor.rz.scp.css */
h1[b-6vys3sk4uf] {
    color: tomato;
    border-bottom: 2px solid tomato;
    text-shadow: 0 0 5px tomato, /* Sombra cercana */
    0 0 10px tomato, /* Sombra intermedia */
    0 0 20px tomato, /* Sombra m�s amplia */
    0 0 40px red, /* Brillo rojizo */
    0 0 60px red, /* Brillo m�s intenso */
    0 0 80px crimson; /* Sombra externa grande */
    font-weight: bold;
    /* Agregar el borde fino al texto */
    -webkit-text-stroke: 1px white; /* Soporte en navegadores Webkit */
    text-stroke: 1px white; /* Soporte en navegadores modernos */
}

p[b-6vys3sk4uf] {
    color: white;
    font-size: xx-large;
}

.contenedor-tabla[b-6vys3sk4uf] {
    display: flex;
    background-color: bisque;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px;
}


.contenedor-form[b-6vys3sk4uf] {
    background-color: bisque;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px;
    margin-top: 10px;
    padding: 7px;
    color: black;
}
/* /Pages/Details/CrearPedidos/FiltradoPedidos.razor.rz.scp.css */
h1[b-rbolat9v00] {
    color: tomato;
    border-bottom: 2px solid tomato;
    text-shadow: 0 0 5px tomato, /* Sombra cercana */
    0 0 10px tomato, /* Sombra intermedia */
    0 0 20px tomato, /* Sombra m�s amplia */
    0 0 40px red, /* Brillo rojizo */
    0 0 60px red, /* Brillo m�s intenso */
    0 0 80px crimson; /* Sombra externa grande */
    font-weight: bold;
    /* Agregar el borde fino al texto */
    -webkit-text-stroke: 1px white; /* Soporte en navegadores Webkit */
    text-stroke: 1px white; /* Soporte en navegadores modernos */
}

p.cargando[b-rbolat9v00] {
    color: white;
    font-size: 35px;

}

.contenedor-tabla[b-rbolat9v00] {
    display: flex;
    background-color: bisque;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px;
}


.contenedor-form[b-rbolat9v00] {
    background-color: bisque;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px;
    margin-top: 10px;
    padding: 7px;
    color: black;
}

.pedido-list[b-rbolat9v00] {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.pedido-card[b-rbolat9v00] {
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.detalles-section[b-rbolat9v00] {
    margin-top: 1rem;
    background-color: #f1f1f1;
    padding: 0.5rem;
    border-radius: 4px;
}

button[b-rbolat9v00] {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
}

    button:hover[b-rbolat9v00] {
        background-color: #0056b3;
    }



/* /Pages/Details/CrearPedidos/PedidosCompletos.razor.rz.scp.css */
h1[b-lx5nzooot1] {
    color: tomato;
    border-bottom: 2px solid tomato;
    text-shadow: 0 0 5px tomato, /* Sombra cercana */
    0 0 10px tomato, /* Sombra intermedia */
    0 0 20px tomato, /* Sombra m�s amplia */
    0 0 40px red, /* Brillo rojizo */
    0 0 60px red, /* Brillo m�s intenso */
    0 0 80px crimson; /* Sombra externa grande */
    font-weight: bold;
    /* Agregar el borde fino al texto */
    -webkit-text-stroke: 1px white; /* Soporte en navegadores Webkit */
    text-stroke: 1px white; /* Soporte en navegadores modernos */
}

p[b-lx5nzooot1] {
    color: white;
    font-size: xx-large;
}

.contenedor-tabla[b-lx5nzooot1] {
    display: flex;
    background-color: bisque;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px;
}


.contenedor-form[b-lx5nzooot1] {
    background-color: bisque;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px;
    margin-top: 10px;
    padding: 7px;
    color: black;
}
.contenedor-botones[b-lx5nzooot1]{
    display:flex; 
    justify-content:space-around;
}

.btn-ver[b-lx5nzooot1]{
    background-color: yellowgreen;
    margin-top:15px;
    font-weight:bold;


}

.btn-ver:hover[b-lx5nzooot1]{
    background-color:darkgreen;
    color:white;
}

.btn-guardar[b-lx5nzooot1] {
    background-color:springgreen;
    margin: 10px;
    font-weight: bold;
}

.btn-guardar:hover[b-lx5nzooot1] {
    background-color: darkolivegreen;
    color: white;
}
/* /Pages/Details/DuoPedidos/CrearPedidos2.razor.rz.scp.css */
.contenedor-botones[b-qpn8up1ug1] {
    display: flex;
    justify-content: space-around;
}

.btn-ver[b-qpn8up1ug1] {
    background-color: yellowgreen;
    margin-top: 15px;
    font-weight: bold;
}

    .btn-ver:hover[b-qpn8up1ug1] {
        background-color: darkgreen;
        color: white;
    }

.btn-guardar[b-qpn8up1ug1] {
    background-color: springgreen;
    margin: 10px;
    font-weight: bold;
}

    .btn-guardar:hover[b-qpn8up1ug1] {
        background-color: darkolivegreen;
        color: white;
    }

.btn-nuevo[b-qpn8up1ug1] {
    background-color: lime;
    margin-top: 15px;
    font-weight: bold;
}

    .btn-nuevo:hover[b-qpn8up1ug1] {
        background-color: forestgreen;
        color: white;
    }

h1[b-qpn8up1ug1] {
    color: tomato;
    border-bottom: 2px solid tomato;
    text-shadow: 0 0 5px tomato, /* Sombra cercana */
    0 0 10px tomato, /* Sombra intermedia */
    0 0 20px tomato, /* Sombra m�s amplia */
    0 0 40px red, /* Brillo rojizo */
    0 0 60px red, /* Brillo m�s intenso */
    0 0 80px crimson; /* Sombra externa grande */
    font-weight: bold;
    /* Agregar el borde fino al texto */
    -webkit-text-stroke: 1px white; /* Soporte en navegadores Webkit */
    text-stroke: 1px white; /* Soporte en navegadores modernos */
}

p[b-qpn8up1ug1] {
    color: white;
    font-size: xx-large;
}

.contenedor-tabla[b-qpn8up1ug1] {
    display: flex;
    background-color: bisque;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px;
}


.contenedor-form[b-qpn8up1ug1] {
    background-color: bisque;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px;
    margin-top: 10px;
    padding: 7px;
    color: black;
}
/* /Pages/Details/FiltradoPedidos/FiltradoPedidosD.razor.rz.scp.css */
h1[b-kd4h1usbvm]{
    color:tomato;
    border-bottom: 2px solid tomato;
}

p[b-kd4h1usbvm]{
    color:darkmagenta;
    font-size: x-large;
}

.contenedor-tabla[b-kd4h1usbvm]{
    display: flex;
    align-content:center;
    background-color:bisque;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px;
    margin-top:15px;
  
}

.pedido-list[b-kd4h1usbvm] {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.pedido-card[b-kd4h1usbvm] {
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.detalles-section[b-kd4h1usbvm] {
    margin-top: 1rem;
    background-color: #f1f1f1;
    padding: 0.5rem;
    border-radius: 4px;
}

button[b-kd4h1usbvm] {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
}

    button:hover[b-kd4h1usbvm] {
        background-color: #0056b3;
    }



/* /Pages/Details/ResumenPedidos/ResumenPedidos.razor.rz.scp.css */
h1[b-5ac8hdikce] {
    color: tomato;
    border-bottom: 2px solid tomato;
    text-shadow: 0 0 5px tomato, /* Sombra cercana */
    0 0 10px tomato, /* Sombra intermedia */
    0 0 20px tomato, /* Sombra m�s amplia */
    0 0 40px red, /* Brillo rojizo */
    0 0 60px red, /* Brillo m�s intenso */
    0 0 80px crimson; /* Sombra externa grande */
    font-weight: bold;
    /* Agregar el borde fino al texto */
    -webkit-text-stroke: 1px white; /* Soporte en navegadores Webkit */
    text-stroke: 1px white; /* Soporte en navegadores modernos */
}

p[b-5ac8hdikce] {
    color: white;
    font-size: xx-large;
}

.contenedor-tabla[b-5ac8hdikce] {
    display: flex;
    background-color: bisque;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px;
}


.contenedor-form[b-5ac8hdikce] {
    background-color: bisque;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px;
    margin-top: 10px;
    padding: 7px;
    color: black;
}

.pedido-list[b-5ac8hdikce] {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.pedido-card[b-5ac8hdikce] {
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.detalles-section[b-5ac8hdikce] {
    margin-top: 1rem;
    background-color: #f1f1f1;
    padding: 0.5rem;
    border-radius: 4px;
}

button[b-5ac8hdikce] {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
}

    button:hover[b-5ac8hdikce] {
        background-color: #0056b3;
    }



/* /Pages/Details/SweetAl2/Alert.razor.rz.scp.css */
h1[b-o5h2hcp6ge]{
    color:tomato;
    border-bottom: 2px solid tomato;
}

p[b-o5h2hcp6ge]{
    color:darkmagenta;
    font-size: x-large;
}

.contenedor-tabla[b-o5h2hcp6ge]{
    display: flex;
    align-content:center;
    background-color:bisque;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px;
    margin-top:15px;
  
}


