h1{
    color:tomato;
    border-bottom: 2px solid tomato;
}

p{
    color:darkmagenta;
    font-size: x-large;
}

.contenedor-tabla{
    display: flex;
    align-content:center;
    background-color:bisque;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px;
    margin-top:15px;
  
}

.pedido-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.pedido-card {
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.detalles-section {
    margin-top: 1rem;
    background-color: #f1f1f1;
    padding: 0.5rem;
    border-radius: 4px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
}

    button:hover {
        background-color: #0056b3;
    }



