h1{
    color:tomato;
    border-bottom: 2px solid tomato;
}

p{
    color:darkmagenta;
    font-size: x-large;
}

.contenedor-tabla {
    display: flex;
    background-color: bisque;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px;
}