@page "/nuevoproducto"
@using WebNegocio.Enums



@inject NavigationManager NavigationManager
@inject IGenericService<Producto> productoService
@inject GenericService<Producto> productoService


<h1> Nuevo Producto</h1>

@if (producto == null)
{
    //@attribute [StreamRendering]
    <p><em>Cargando...</em></p>
}
else
{
    <h3 >Cargando nuevo producto @producto.nombre</h3>
    <div class="contenedor-form" >
    <EditForm Model="producto" OnValidSubmit="GuardarProducto">
        <DataAnnotationsValidator />
        <label class="form-control mb-3" for="txtProducto">Productos:</label>
        <input class="form-control mb-3" type="text" placeholder=" Nombre" @bind="producto.nombre" />
        <label class="form-control mb-3" for="rubroSelect">Rubro:</label>
        <select class="form-control mb-3" id="rubroSelect" @bind="producto.Rubro">
            @foreach (var rubro in Enum.GetValues(typeof(RubroEnum)))
            {
                <option value="@rubro">@rubro</option>
            }
        </select>
        <input class="form-control mb-3" type="text" placeholder="Precio" @bind="producto.precioF" />
        <input class="form-control mb-3" type="text" placeholder="Stock" @bind="producto.stock" />
      
        <ValidationSummary />
        <button class="btn btn-primary" type="submit">Guardar</button>
        <button class="btn btn-secondary m-3" type="button" @onclick="Volver">Cancelar</button>
    </EditForm>
    </div>
}


@code {

    public string? idProducto { get; set; }

    public Producto? producto { get; set; }


    protected override void OnInitialized()
    {
        producto = new Producto();
    }

   

    // guarda información del formulario editar
    private async Task GuardarProducto()
    {
        try
        {
            Console.WriteLine($"Guardando producto: {producto.nombre} - Rubro: {producto.Rubro}");
            var response = await productoService.AddAsync(producto);
            NavigationManager.NavigateTo("/productos");
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error al guardar el producto: {ex.Message}");
        }

    }

    private void Volver()
    {
        NavigationManager.NavigateTo("/productos"); // Reemplaza "/pagina-anterior" con la ruta de la página anterior
    }

}

  