h1[b-8kyyvh0a6c] {
    color: tomato;
    border-bottom: 2px solid tomato;
    text-shadow: 0 0 5px tomato, /* Sombra cercana */
    0 0 10px tomato, /* Sombra intermedia */
    0 0 20px tomato, /* Sombra m�s amplia */
    0 0 40px red, /* Brillo rojizo */
    0 0 60px red, /* Brillo m�s intenso */
    0 0 80px crimson; /* Sombra externa grande */
    font-weight: bold;
    /* Agregar el borde fino al texto */
    -webkit-text-stroke: 1px white; /* Soporte en navegadores Webkit */
    text-stroke: 1px white; /* Soporte en navegadores modernos */
}

p[b-8kyyvh0a6c] {
    color: white;
    font-size: xx-large;
}

.contenedor-tabla[b-8kyyvh0a6c] {
    display: flex;
    background-color: bisque;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px;
}


.contenedor-form[b-8kyyvh0a6c] {
    background-color: bisque;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px;
    margin-top: 10px;
    padding: 7px;
    color: black;
}
